* {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: url("../public/yellow_wood_oak.jpg");
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
