.bar {
  display: flex;
  justify-content: space-between;
  font-size: 6rem;
  color: rgb(221, 198, 89);
  background-image: linear-gradient(
    170deg,
    rgb(136, 0, 21) 25%,
    rgb(184, 96, 109)
  );
  background-color: rgb(136, 0, 21);
  margin: 15px 0em 0.5em;
  border-top: 5px ridge rgb(221, 198, 89);
  border-bottom: 5px ridge rgb(221, 198, 89);
  padding: 0.3em 1em 0.35em;
  box-shadow: 0px 10px 9px rgba(36, 36, 36, 0.8);
}

.left h1 {
  text-shadow: 3px 2px black;
}

.login {
  font-size: 1.2rem;
  width: fit-content;
  position: relative;
  left: 25rem;
  text-shadow: 1.5px 1px black;
}

.login:hover {
  color: rgb(251, 231, 130);
  text-decoration: underline;
}

.right {
  display: flex;
  justify-content: flex-start;
  font-size: 5rem;
  text-align: center;
  margin-top: 0.25em;
}

.right h3 {
  font-size: 2rem;
  margin-top: -0.25em;
}

.button {
  cursor: pointer;
}

.button:hover {
  /* TODO add hover animation */
  color: rgb(251, 231, 130);
}

.button + .button {
  margin-left: 0.5em;
  cursor: pointer;
}
